<div class="header-lg ltr" ng-init="init()">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<nav class="navbar" role="navigation">
					<a class="pull-right logo hidden-sm hidden-xs" href="fepsIncubator/home">
						<img src="images/logo.png" alt="logo" class="ar"  />
						<img src="images/logo-en.png" alt="logo" class="en"  />
					</a>
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse collapse" uib-collapse="isNavCollapsed">
						<ul class="nav navbar-nav">
							<li><a href="#!/" ng-click="isNavCollapsed = !isNavCollapsed">{{'menuItem0' | translate}}</a><span>|</span></li>
							<li><a href="#!/About" ng-click="isNavCollapsed = !isNavCollapsed">{{'menuItem1' | translate}}</a><span>|</span></li>
                            <li><a href="fepsIncubator/newsList" ng-click="isNavCollapsed = !isNavCollapsed">{{'menuItem2' | translate}}</a><span>|</span></li>
							<li><a href="fepsIncubator/services" ng-click="isNavCollapsed = !isNavCollapsed">{{'menuItem3' | translate}}</a><span>|</span></li>
							<li><a href="fepsIncubator/jobs" ng-click="isNavCollapsed = !isNavCollapsed">{{'menuItem4' | translate}}</a><span>|</span></li>
							<li><a href="fepsIncubator/mentorsList" ng-click="isNavCollapsed = !isNavCollapsed">{{'menuItem5' | translate}}</a><span>|</span></li>
							<li class="last"><a href="fepsIncubator/advisoryBoardList" ng-click="isNavCollapsed = !isNavCollapsed"  >{{'menuItem6' | translate}}</a><span>|</span></li>
							<!--<li><a href="#">{{'menuItem7' | translate}}</a><span>|</span></li>-->
							<!--<li><a href="#">{{'menuItem8' | translate}}</a></li>-->
							<li ng-show="!user" class="hidden-lg hidden-md">
								<a href="#" ng-click="openLoginModal()">{{'login' | translate}}</a>
							</li>
							<li ng-show="user" class="hidden-lg hidden-md">
								<a href="#" ng-click="signOut()">{{'signOut' | translate}}</a>
							</li>
							<li class="hidden-lg hidden-md">
								<a ng-click="switchLanguage()" >{{'languageButtonText' | translate}}</a>
							</li>
							<li ng-show="isAdminstrator" class="hidden-lg hidden-md">
								<a href="fepsIncubator/adminPage" ng-click="isNavCollapsed = !isNavCollapsed">{{'menuItemAdmin' | translate}}</a>
							</li>
						</ul>
					</div>
					<div class="login pull-left ">
						<div ng-show="!user">
							<button class="btn hidden-xs hidden-sm pull-left" ng-click="openLoginModal()">{{'login' | translate}}</button>
							<!-- temp link  -->
							<!--<a href="fepsIncubator/adminPage">temp link Go Admin</a>-->
						</div>
						<div ng-show="user" class="userDetailsDiv">
							<img ng-src="{{user.imageSource}}" class="pull-right" />
							<div class="pull-right text-center">
								<a class="username" href="fepsIncubator/viewProfile">{{user.username}}</a>
								<div class="clearfix"></div>
								<div class="userLinks hidden-xs hidden-sm">
									<a href="#" class="pull-right" ng-click="signOut()">{{'signOut' | translate}}</a>
									<div class="pull-right" ng-show="isUser">
										<span class="pull-right">|</span>
										<a href="fepsIncubator/briefCaseLanding" class="pull-right hidden-xs hidden-sm" >{{'briefcaseTitle' | translate}}</a>
									</div>
								</div>
								<div class="clearfix"></div>
								<br />
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					<a class="btn btn-primary langBtn hidden-sm hidden-xs" ng-click="switchLanguage()" >{{'languageButtonText' | translate}}</a>
					<div ng-show="isAdminstrator" class="manageWebsiteBtn hidden-xs hidden-sm text-center">
						<button class="btn" ng-click="goToAdmin()">{{'menuItemAdmin' | translate}}</button>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>