<div id="aboutus" class="container ltr" >
	<div class="aboutUsContainer">
           <h2 class="mainTitle">{{ 'menuItem1' | translate }}</h2>
           <div class="aboutUsSec visionContainer" id="visionSection">
                <h4 class="subTitle vision">{{ 'aboutusVision' | translate }}</h4>
                <p class="content visioncontentcol-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xl-offset-2">{{ 'aboutusVisionText' | translate }}</p>
           </div>
           <div class="aboutUsSec missionContainer" id="missionSection">
                <h4 class="subTitle mission">{{ 'aboutusMission' | translate }}</h4>
               <p class="content visioncontentcol-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xl-offset-2">
                {{ 'aboutusMissionText' | translate }}
                </p>
           </div>
           <div class="aboutUsSec teamContainer" id="teamSection">
                <h4 class="subTitle team">{{ 'aboutusTeam' | translate }}</h4>
               <div class="teamMemberContainer col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 pull-right">
                   <img src="../../../images/Team/Dr.%20Heba%20Medhat%20Zaki,%20Founder%20and%20CEO.jpg" class="memberImg">
                   <div class="MemberName"><strong>{{ 'aboutusMember1' | translate }}</strong></div>
                   <div class="Membertitle">{{ 'aboutusMemeberRole1' | translate }}</div>
               </div>
               <div class="teamMemberContainer col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 pull-right">
                   <img src="../../../images/Team/Ms.%20Maha%20Khalil,%20Awareness%20Program%20Manager.jpeg" class="memberImg">
                   <div class="MemberName"><strong>{{ 'aboutusMember3' | translate }}</strong></div>
                   <div class="Membertitle">{{ 'aboutusMemeberRole3' | translate }}</div>
               </div>
               <div class="teamMemberContainer col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 pull-right">
                   <img src="../../../images/Team/Ibrahim%20Mahgoub,%20Incubation%20Program%20Manager.jpg" class="memberImg">
                   <div class="MemberName"><strong>{{ 'aboutusMember5' | translate }}</strong></div>
                   <div class="Membertitle">{{ 'aboutusMemeberRole5' | translate }}</div>
               </div>
               <div class="clearfix"></div>
               <div class="teamMemberContainer col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 pull-right">
                   <img src="../../../images/Team/Ms.%20Menna%20Khaled,%20Adminstrative%20Officer.jpg" class="memberImg">
                   <div class="MemberName"><strong>{{ 'aboutusMember6' | translate }}</strong></div>
                   <div class="Membertitle">{{ 'aboutusMemeberRole6' | translate }}</div>
               </div>
               <div class="teamMemberContainer col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 pull-right">
                   <img src="../../../images/Team/Ms.%20Noha%20A.%20Nagui,%20Communication%20Officer.jpg" class="memberImg">
                   <div class="MemberName"><strong>{{ 'aboutusMember7' | translate }}</strong></div>
                   <div class="Membertitle">{{ 'aboutusMemeberRole7' | translate }}</div>
               </div>
               <div class="teamMemberContainer col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 pull-right">
                   <img src="../../../images/Team/Noran%20Adly,%20Incubation%20Program%20Specialist.jpg" class="memberImg">
                   <div class="MemberName"><strong>{{ 'aboutusMember8' | translate }}</strong></div>
                   <div class="Membertitle">{{ 'aboutusMemeberRole8' | translate }}</div>
               </div>
               <div class="teamMemberContainer col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 pull-right">
                   <img src="../../../images/Team/Aiad%20Faris,%20Admin.jpg" class="memberImg">
                   <div class="MemberName"><strong>{{ 'aboutusMember9' | translate }}</strong></div>
                   <div class="Membertitle">{{ 'aboutusMemeberRole9' | translate }}</div>
               </div>
               
           </div>
       </div>
</div>