<div id="home" ng-controller="mainController" ng-init="init()" class="ltr">
	<div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
		<div uib-slide ng-repeat="slide in slides track by $index" index="$index" >
			<img class="image-circle" ng-src="{{slide.image}}" style="margin:auto;" />
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-xs hidden-sm">
						<div class="top-section-inner text-right">
							<h2 class="text-center">{{ slide.title | translate }}</h2>
							<p>
							 {{ slide.text | translate }} <a href="{{slide.href}}">{{ 'readMore' | translate }}</a>
							</p>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-lg hidden-md">
						<div class="top-section-inner-sm">
							<a href="{{slide.href}}"> {{ slide.title | translate }} </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="middle-section-header">
 		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="middle-section-header-title text-center">
						{{ 'middleSectionTitle' | translate }}
					</div>
				</div>
			</div>
 		</div>
	</div>
	<div class="middle-section">
 		<div class="container">
			<div class="row" ng-if="!currentUser">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
					<a href="fepsIncubator/services">
						<h3>{{ 'servicesTitle' | translate }}</h3>
						<img src="../../images/icon-services.png" alt="Services" />
					</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
					<a href="fepsIncubator/howtoapply">
						<h3>{{ 'howTitle' | translate }}</h3>
						<img src="../../images/icon-how.png" alt="how to apply" />
					</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
					<a href="fepsIncubator/signup">
						<h3>{{ 'applyTitle' | translate }}</h3>
						<img src="../../images/icon-apply.png" alt="apply" />
					</a>
				</div>
			</div>
			<div class="row" ng-if="currentUser && isUser && isAdmission">
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center" >
					<a href="fepsIncubator/addProject">
						<h3>{{ 'ideaTitle' | translate }}</h3>
						<img src="../../images/icon-idea.png" alt="Idea" />
					</a>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
					<a href="fepsIncubator/services">
						<h3>{{ 'servicesTitle' | translate }}</h3>
						<img src="../../images/icon-services.png" alt="Services" />
					</a>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
					<a href="fepsIncubator/briefCaseLanding">
						<h3>{{ 'briefcaseTitle' | translate }}</h3>
						<img src="../../images/icon-briefcase.png" alt="Services" />
					</a>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
					<a href="fepsIncubator/howtoapply">
						<h3>{{ 'howTitle' | translate }}</h3>
						<img src="../../images/icon-how.png" alt="how to apply" />
					</a>
				</div>
			</div>
			<div class="row" ng-if="currentUser && isUser && !isAdmission">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
					<a href="fepsIncubator/services">
						<h3>{{ 'servicesTitle' | translate }}</h3>
						<img src="../../images/icon-services.png" alt="Services" />
					</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
					<a href="fepsIncubator/briefCaseLanding">
						<h3>{{ 'briefcaseTitle' | translate }}</h3>
						<img src="../../images/icon-briefcase.png" alt="Services" />
					</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
					<a href="fepsIncubator/howtoapply">
						<h3>{{ 'howTitle' | translate }}</h3>
						<img src="../../images/icon-how.png" alt="how to apply" />
					</a>
				</div>
			</div>
 		</div>
	</div>
	<div class="bottom-section-header">
 		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="bottom-section-header-title text-center">
						{{ 'bottomSectionTitle' | translate }}
					</div>
				</div>
			</div>
 		</div>
	</div>
	<div class="bottom-section">
		 <div class="container hide" >
			 <div class="row">
				 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
					 <div class="searchEventsDiv">
						 <input type="text" class="searchInput" />
						 <button type="button" class="searchButton" />
					 </div>

				 </div>
			 </div>
		 </div>
		 <div uib-carousel active="activeNew" interval="newsInterval" no-wrap="noWrapNews">
			 <div uib-slide ng-repeat="news in newsList | filter: {active: true } track by $index" index="$index" >
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="bottom-section-inner">
								<div class="row">
									<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 pull-right">
										<div class="newsDate">
											<div class="text-center">{{ news.date }}</div>
											<div class="text-center newsDateMonth">{{ news.month | translate }}</div>
										</div>
									</div>
									<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 pull-right newsDesc">
										<p class="text-left">
											{{news.details | limitTo: 150 }}{{news.details.length > 150 ? '...' : ''}}
											<a ng-click="viewNewsDetails(news)" >{{ 'readMore' | translate }}</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			 </div>
		 </div>
	</div>
</div>
<div class="footer-section-header" ng-show="currentUser">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="footer-section-header-title text-center">
					{{ 'ProjectsListMainTitle' | translate }}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="footer acceptedProjectDiv"  ng-show="currentUser">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
					<div class="acceptedProjectsInnerDiv">
						<a href="fepsIncubator/projectsList" >
							<img src="../../images/icon-accepted.png" class="pull-right" />
							<p class="pull-right">
								{{ 'acceptedProjectsText'}}
							</p>
						</a>
						<div class="clearfix"></div>
					</div>
			</div>
		</div>
	</div>
</div>
<div class="footer-section-header">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="footer-section-header-title text-center">
					
				</div>
			</div>
		</div>
	</div>
</div>
<div class="footer footer1">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
				<img src="images/logo-EGBank.png" alt="EG Bank" />
			</div>
		</div>
	</div>
</div>

<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
				<img src="images/logo-usaid.png" alt="USAID logo" />
			</div>
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center">
				<img src="images/logo-ministry.png" alt="Ministry logo" />
			</div>
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center">
				<img src="images/logo-injaz.png" alt="INJAZ logo" />
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
				<img src="images/logo-guc.png" alt="GUC logo" />
			</div>
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center">
				<img src="images/logo-university.png" alt="University logo" />
			</div>
		</div>
	</div>
</div>
<div class="IBMfooter">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
				<h4>{{ 'footerSectionIBMTitle' | translate }}</h4>
				<img src="images/logo-ibm.png" alt="IBM" />
			</div>
		</div>
	</div>
</div>
<style>
	.header-lg{
		background-color: rgba(255,255,255,.6);
		position: absolute;
	}
	@media (max-width: 992px) {
		.header-lg{
			top:52px;
		}
	}
</style>