<div  class="outlined-container"  id="parent"  ng-controller="signupController">
        <form class="signup" name="sign" method="GET">
        	<table>
				<tr>
					<th colspan="2">
						<h2>Sign Up</h2>
					</th>
				</tr>
				<tr>
					<td>
						<h3>Email:</h3>
					</td>
					<td>
						<input type ="email" name="email" required ng-model="email" id="email"/>
						<br/>
						 <span ng-show="signup.email.$invalid && signup.email.$dirty"> Please enter a valid email address </span>
					</td>
				</tr>
				<tr>
					<td>
						<h3>Password:</h3>
					</td>
					<td>
						<input type ="password" name="password" required ng-model="password" id="password" ng-minlength="6"/>
						<br/>
						
						 <span ng-show="signup.password.$invalid && signup.password.$touched"> Please Enter at least 6 characters </span>
					</td>

				</tr>
				<tr>
					<td>
						<h3>Confirm password:</h3>
					</td>
					<td>
						<input type ="password" name="confirmPassword" required ng-model="confirmPassword" password-confirm match-target="password" id="cPassword"/>
						<br/>
						 <span ng-show="signup.confirmPassword.$error.match && signup.confirmPassword.$dirty"> Password doesn't match </span>
					</td>

				</tr>

				<tfoot>
					<td colspan="2">
						<button id="add_user_button" type="submit" ng-click="signup()">Signup</button>
					</td>
				</tfoot>
					
				

			</table>

            
        </form>
</div> 
