<!DOCTYPE html>
<html>
<head>
	<title>Signup Page</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<link rel="stylesheet" href="stylesheets/style.css">
	<script src ="javascripts/validators.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"> </script>
    <script src="javascripts/signupAction.js"> </script>

   
</head>
<body ng-app="app" ng-controller="mainCtrl">
    <div id="parent">
        <form name="signup" method="GET">
        	<table id="table">
				<tr>
					<th colspan="2">
						<h2>Sign Up</h2>
					</th>
				</tr>
				<tr>
					<td>
						<h3>Email:</h3>
					</td>
					<td>
						<input type ="email" name="email" required ng-model="email" id="email"/>
						<br/>
						 <span ng-show="signup.email.$invalid && signup.email.$dirty"> Please enter a valid email address </span>
					</td>
				</tr>
				<tr>
					<td>
						<h3>Password:</h3>
					</td>
					<td>
						<input type ="password" name="password" required ng-model="password" id="password" ng-minlength="6"/>
						<br/>
						
						 <span ng-show="signup.password.$invalid && signup.password.$touched"> Please Enter at least 6 characters </span>
					</td>

				</tr>
				<tr>
					<td>
						<h3>Confirm password:</h3>
					</td>
					<td>
						<input type ="password" name="confirmPassword" required ng-model="confirmPassword" password-confirm match-target="password" id="cPassword"/>
						<br/>
						 <span ng-show="signup.confirmPassword.$error.match && signup.confirmPassword.$dirty"> Password doesn't match </span>
					</td>

				</tr>

				<tfoot>
					<td colspan="2">
						<button id="add_user_button" type="submit">Signup</button>
					</td>
				</tfoot>
					
				

			</table>

            
        </form>
    </div> 
</body>
</html>