$ff :  Cairo;
$ffLight :  CairoLight;
$bg :   #fff;

$themeColor1 : #972064 ;
$themeColor1Dark : #972064 ;

$themeColor2 : #ffc313 ;
$themeColor2Dark : #ee8b21 ;

$themeColor3 : #171547 ;
$themeColor3Dark : #171547 ;
$themeColor3Light : #585782 ;

$themeColor4 : #ced728 ;
$themeColor4Dark : #ced728 ;

$themeColor5 : #ffc312 ;
$themeColor5Dark : #ffc312 ;

$lightGry:#ebebeb;
$gryLightColor: #6e6a6a;
$seeMoreColor: #2f9559;

$tableBGColor:#d1d0da;
$tableMainRowBGColor:#31304c;
$tableRowABGColor:rgba(250, 250, 251, .9);
$tableRowBBGColor:rgba(250, 250, 251, .5);

$dangerColor:#e5227c;
$greenColor:#72a63d;
