/* About us page styles */

.aboutUsContainer {
    min-height: 100vh;
    //background-color: #171547;
    color: $themeColor3;
    text-align: center;
    padding: 0;
}
.aboutUsContainer h2.mainTitle {

    color: #fff;
}
.aboutUsSec {
    margin-bottom: 60px;
    height: auto;
    overflow: hidden;
}

h4.subTitle {
    padding: 10px 0;
    font-size: 30px;
    font-weight: bold;
}
h4.subTitle.vision {
    background-color: #171547;
    color: #ffc312;
}
h4.subTitle.mission {
    background-color: #171547;
    color: #0c8c46;
}
h4.subTitle.team {
    background-color: #171547;
    color: #972064;
}
p.content {
    line-height: 25px;
    font-size: 18px;
  text-align: justify;
}
img.memberImg {
    border: 15px solid;
    border-radius: 50%;
    width: 146px;
    height: 146px;
}

.teamMemberContainer {
    margin: 40px 0px;
}
.teamMemberContainer.yellow {
    color: $themeColor3;
}

.teamMemberContainer.pink {
    color: $themeColor3;
}

.teamMemberContainer.orange {
    color: $themeColor3;
}

.teamMemberContainer.yellow img {
    background-color: #ffc313;
}

.teamMemberContainer.pink img{
     background-color: #972064;
}

.teamMemberContainer.orange img{
     background-color: #ee8b21;
}
.Membertitle {
    color: $themeColor3;
}
.MemberName {
    padding-top: 12px;
    font-size: 20px;
    font-weight: bold;
}
