/* home page  styles */


.rtl{
  direction: rtl!important;
  .en{
    display: none;
  }
  .text-left{
    text-align: right;
  }


}
.ltr{
  direction: ltr!important;
  .ar{
    display: none;
  }
}


#home{
  margin-top: 0px;
}

.top-section{
  //background:url('../../img/top-section-bg.png') bottom center;
  //background-repeat: no-repeat;
  //background-size: 100%;
  /*height:460px*/


}
.carousel{
  margin-bottom: 0!important;
}
.carousel img{
  width: 100%!important;
  margin-bottom: -1px!important;
}
.carousel-control{
  width:40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(124,54,114,.5);
  opacity: 1;
  text-shadow: none;
  top:50%;
  margin-top: -20px;
  font-size: 0;
  text-indent: -20000em;
  cursor: pointer;
  .glyphicon-chevron-right:before{
    content: '';
  }
  .glyphicon-chevron-left:before{
    content: '';
  }
}

.carousel-control.left{
  background-image:url('../../img/arrows.png');
  background-position: left center;
  left:30px
}
.carousel-control.right{
  background-image:url('../../img/arrows.png');
  background-position: right center;
  right:30px
}



.carousel-indicators {
  bottom: 0px;
  margin-bottom: 5px;
  padding: 0;
}
.carousel-indicators li{
  margin: 1px 3px;
}

.top-section-inner{
  width: 94%;
  //height: 224px;
  background: rgba(151,32,100,.6);
  margin: 0px;
  padding: 17px;
  color: #fff;
  font:normal 24px/32px $ff;
  position: absolute;
  bottom:30px;
  left:30px;
  a{
    text-decoration: underline;
  }

}

.top-section-inner-sm{
  width:100%;
  margin: 0 auto;
  background: rgba(151,32,100,.6);
  padding: 10px;
  color: #fff;
  font:normal 28px/47px $ff;
  position: absolute;
  bottom:50px;
  left:0px;
  a{
    text-decoration: underline;
    color: #fff;
    &:hover{
      color: #fff;
    }
  }
}



.middle-section-header{
  background-color:$themeColor2Dark;
  height:48px;
  text-align:center
}
.middle-section-header-title{
  color: #fff;
  font:normal 28px/48px $ff
}
.middle-section{
  background-color:$themeColor2;
  /*height:350px;*/
  padding:30px 0 30px;
  h3{
    color: #fff;
    font:normal 24px/32px $ff;
    margin: 10px 0;
  }
  a:hover{
    color: #fff;

  }
}
.middle-section-header-title{
  color: #fff;
  font:normal 28px/48px $ff
}
.bottom-section-header{
  background-color:$themeColor3Dark;
  height:48px;
  text-align:center
}
.bottom-section-header-title{
  color: #fff;
  font:normal 28px/48px $ff
}
.bottom-section{
  background:url('../../img/bottom-section-bg.png') center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding:100px 0;

  .searchEventsDiv{
    height: 70px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    margin: 10px auto 50px;
    padding: 10px 15px;
    input.searchInput{
      height: 50px;
      width: 85%;
      border: 0;
      border-bottom: 1px #3c3c3c solid;
      padding: 10px;
      margin: 0 10px;
      font-size: 30px;
      display: inline-block;
      float: right;
      border-radius: 0;
      background-image: none;
    }
    button.searchButton{
      width: 10%;
      height: 50px;
      background-image: url(../../img/icon-search.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      border: 0;
      background-color: transparent;
    }
  }
  .carousel-control{
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(23,21,71,.5);
    opacity: 1;
    text-shadow: none;
    top:50%;
    margin-top: -20px;
    font-size: 0;
    text-indent: -20000em;
    cursor: pointer;
  }
  .bottom-section-inner{
    width: 100%;
    background: rgba(23,21,71,.85);
    margin: 0px;
    padding: 17px;
    color: #fff;
    font:normal 28px/47px $ff;

    .newsDate{
      background: rgba(255,255,255,.5);
      width:110px;
      height: 110px;
      border-radius: 50%;
      font-size: 27px;
      color: rgba(23,21,71,1);
      margin: 0 auto;
      .newsDateMonth{
        font-size: 20px;
      }
    }
    .newsDesc{

      font-size: 23px;

    }
  }
}
.acceptedProjectDiv{
  background:url('../../img/acceptedProjectsBG.png') center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding:100px 0;
  .acceptedProjectsInnerDiv{
    background-color:rgba( 160,168,4,.85) ;
    width:50%;
    padding: 20px;
    margin: 0 auto;
    a{
      color: #fff;
      p{
        line-height: 75px;
        padding: 30px 25px;
        font-size: 20px;
        color: #fff;
      }
      &:hover{
        color: #fff;
      }
    }

  }
}

@media (max-width: 750px) {

  #home{
    margin-top: 0;
  }
  .bottom-section{
    .searchEventsDiv{
      width:100%;
      input.searchInput{
        width:80%
      }
    }
    .carousel-control{
      top: 16% !important;
    }
  }


}
